<div class="px-4 py-5 my-5 text-center">
	<h1 class="display-5 fw-bold">Hi NodeJs Student</h1>
	<div class="col-lg-3 mx-auto">
		<a href="/" class="btn btn-success mt-2">Home</a>
		<a href="/auth/register" class="btn btn-info mt-2">Signup</a>
		<a href="/auth/login" class="btn btn-secondary mt-2">Signing</a>
		<a href="/profile" class="btn btn-warning mt-2">Profile</a>
	</div>
</div>
